h1 {
	background-color: #fff8f1;
}

body {
	background-color: #ffe8d4;
	color: #c16e23;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.tableHeader {
	font-weight: bold;
}

.tableContents {
	font-style: oblique;
}

table, th {
	border-collapse: separate;
	border-spacing: 15px 5px;
}

th {
	border: 1px solid #c16e23;
}

